version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=habit_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    restart: always
    command: bash -c "python manage.py migrate && gunicorn core.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DEBUG=False
      - SECRET_KEY=docker-secret-key
      - ALLOWED_HOSTS=*,localhost
      - DB_NAME=habit_db
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432

  frontend:
    build: ./frontend
    restart: always
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      # IMPORTANT: In browser, localhost refers to YOUR laptop, not the server.
      # Ideally this should be your EC2 IP, but for now localhost works if you port forward or just test.
      - NEXT_PUBLIC_API_URL=http://localhost:8000/api/
    depends_on:
      - backend

volumes:
  postgres_data: